<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost/spring_football</value>
		</property>
		<property name="username">
			<value>fourside</value>
		</property>
		<property name="password">
			<value>ogikubo</value>
		</property>
	</bean>

	<bean id="menuUi" class="ui.MenuUi">
		<property name="selectTeamUi" ref="selectTeamUi"></property>
	</bean>

	<bean id="teamDao" class="dao.impl.TeamDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="selectTeamUi" class="ui.SelectTeamUi">
		<property name="teamDao" ref="teamDao"></property>
	</bean>
</beans>
